
<h2>List of Artists from the Genre: <%= @genre.name %></h2>

<% @genre.artists.each do |artist| %>

    <ul> <a href= '/artists/<%= artist.slug %>'><%= artist.name %></a> </ul>

<%end%>



<h2>List of Songs from the Genre: <%= @genre.name %></h2>

 <% @genre.songs.each do |song| %> 
    
   <ul> <a href = '/songs/<%= song.slug %>'><%= song.name %></a> </ul>

<%end%>






